{% extends 'tweets/index.html' %}



<title>
    {% block title %}
        Home
    {% endblock title %}
</title>



{% block content %}
    <style>
        .tweet-container {
            width: 90%;
            margin: 0 auto;
        }
        .home-header {
            text-align: center;
            letter-spacing: 0.06rem;
            padding: 2rem 0;
            /* border: 1px solid red; */
        }
        .tweet-form-wrapper {
            padding: 2rem 0;
            width: 50%;
            max-width: 600px;
            margin: 0 auto;
        }
        /* .tweet-form {
            width: 50%;
            max-width: 600px;
            margin: 0 auto;
        } */
        .tweet-form > div> input {
            display: block;
            width: 100%;
            padding: 1rem;
            letter-spacing: 0.06rem;
            font-size: 1rem;
            border-radius: 5px;
            border: none
        }
        .tweet-form > div> textarea {
            display: block;
            width: 100%;
            resize: none;
            padding: 1rem;
            letter-spacing: 0.06rem;
            font-size: 1rem;
            margin-top: 0.5rem;
            border-radius: 5px;
            border: none
        }
        .tweet-form > button {
            display: block;
            background:rgb(0, 153, 255);
            margin-left: auto;
            padding: 0.7rem 1rem;
            font-size: 1rem;
            letter-spacing: 0.06rem;
            margin-top: 0.5rem;
            color: white;
            border-radius: 5px;
            cursor: pointer;

        }
    </style>


    <div class="tweet-container">
        <!-- <div class="home-header">
            <h1>Welcome to TWEETclone</h1>
        </div> -->
       
        <div class="tweet-form-wrapper">
            <div class="error-wrapper" style="display: none; padding: 0.5rem 0; color: red; letter-spacing: 0.06rem;">
                <p class="error">error</p>
            </div>
            <form class='tweet-form' action="{% url 'tweets:new-tweet' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="padding: 2rem; border-radius: 10px; background: rgb(179, 203, 204)">
                    <input type="hidden" value="{% url 'tweets:home' %}" name="next">
                    <input type="text" name="title" placeholder="Title">
                    <!-- <input type="file" value="Choose image" name="image"> -->
                    <textarea name="content" id="" cols="30" rows="10" placeholder="Your tweet..."></textarea>
                </div>
                <button type="submit">Tweet</button>
            </form>
        </div>
        <div class="tweets">

        </div>
    </div>
   
    {% if data %}
        <script>
            // let data = '{{ data }}'
            // window.location.href = `https://www.google.com/search?q=${data}`
            // window.open(
            //     `https://www.google.com/search?q=${data}`, '_blank'
            // )
        </script>
   
    {% endif %}



    <script type="text/javascript">
        const tweetForm = document.querySelector('.tweet-form')
        const tweets = document.querySelector('.tweets')

        tweetForm.addEventListener('submit', function(event){
            event.preventDefault()
            const newTweet = event.target
            const newFormData = new FormData(newTweet)
            const method = newTweet.getAttribute('method')
            const url = newTweet.getAttribute('action')
            const responseType = 'json'

            const xhr = new XMLHttpRequest()
            xhr.responseType = responseType
            xhr.open(method, url)
            xhr.onload = function(){
                tweetForm.reset()
                console.log(xhr.response)
                const json = xhr.response
                if(json.error) {
                    const errorWrapper = document.querySelector('.error-wrapper')
                    const error = document.querySelector('.error')
                    errorWrapper.style.display = 'block'
                    error.textContent = json.error
                }
                else if(json.annonymous) {
                    const errorWrapper = document.querySelector('.error-wrapper')
                    const error = document.querySelector('.error')
                    errorWrapper.style.display = 'block'
                    error.innerHTML = `${json.annonymous} <a href="#">Login</a>`
                }
                else {
                    const tweetElement = `<div>
                                            <h3>${json.title}</h3>
                                            <p>${json.content}</p>
                                        </div>`
                    tweets.innerHTML = tweetElement + tweets.innerHTML
                }
            }
            xhr.send(newFormData)

        })
    </script>
{% endblock content %}