{% extends 'tweets/index.html' %}


<title>
    {% block title %}
        Home page
    {% endblock title %}
</title>


{% block content %}
    <div class="tweet-form-container">
        <form class='tweet-form' action="{% url 'tweets:new-tweet' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{% url 'tweets:home' %}" name="next">
            <input type="text" name="title" placeholder="Title">
            <textarea name="content" id="" cols="30" rows="10" placeholder="Your tweet..."></textarea>
            <button type="submit">Tweet</button>
        </form>
    </div>
    <div class="tweets-container">
        <h1>Home page</h1>
        <div class="error" style="color: red; padding: 1rem;"></div>
        <div class="tweets">
            <h2>Tweets go here</h2>
        </div>
    </div>






<script type="text/javascript">
    const tweetForm = document.querySelector('.tweet-form')
    const tweets = document.querySelector('.tweets')

    tweetForm.addEventListener('submit', function(event){
        event.preventDefault()

        const targetElement = event.target
        const newTweetForm = new FormData(targetElement)
        const method = targetElement.getAttribute('method')
        const url = targetElement.getAttribute('action')
        const responseType = 'json'
        const xhr = new XMLHttpRequest()

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            let jsonResponse = xhr.response
            if(jsonResponse.error) {
                // console.log(jsonResponse.error)
                let error = document.querySelector('.error')
                error.textContent = jsonResponse.error
                tweetForm.reset()
            }else {
                let tweet = `<div style='border: 1px solid gray; padding: 1rem; line-height: 1.5'>
                                <p>ID ${jsonResponse.id}</p>
                                <h3>${jsonResponse.title}</h3>
                                <p>${jsonResponse.content}</p>
                            </div>`
                tweets.innerHTML = tweet + tweets.innerHTML
                let error = document.querySelector('.error')
                error.textContent = ''
                tweetForm.reset()
            }
        }
        xhr.send(newTweetForm)
    })

    function loadTweets(){
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '{% url "tweets:tweets" %}'
        const responseType = 'json'

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function(){
            const allTweets = [...xhr.response.tweets]
            let tweetsList = '';
            allTweets.forEach(function(tweet){
                tweetsList += `<div style='border: 1px solid gray; padding: 1rem; line-height: 1.5'>
                                    <p>ID ${tweet.id}</p>
                                    <h3>${tweet.title}</h3>
                                    <p>${tweet.content}</p>
                                </div>`
            })
            tweets.innerHTML = tweetsList
        }
        xhr.send()
    }
    loadTweets()
</script>
{% endblock content %}