
<style>
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto
    }
    .brand-name > a {
        text-decoration: none;
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        color: rgb(0, 153, 255)
    }
    .nav-items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .nav-item {
        list-style-type: none;
    }
    .nav-item > a {
        display: inline-block;
        padding: 1.5rem 1rem;
        text-align: center;
        text-decoration: none;
        color: rgb(114, 114, 114);
    }
</style>


<div class="nav-container">
    <div class="brand-name">
        <a href="">TWEETclone</a>
    </div>
    <nav class="nav-bar">
        <ul class="nav-items">
            <li class="nav-item"><a href="">Home</a></li>
            <li class="nav-item"><a href="/my/tweets">My tweets</a></li>
            <li class="nav-item"><a href="">Login</a></li>
            <li class="nav-item"><a href="">Register</a></li>
            <li class="nav-item"><a href="">Search</a></li>
        </ul>
    </nav>
</div>