<style>
    .nav-container {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       background: rgba(0, 28, 44, 0.9);
       /* border-bottom: 1px solid rgb(226, 226, 226); */
    }
    .nav-wrapper {
        width: 90%;
        margin: 0 auto;
        /* padding: 1rem 0; */
    }
    .brand-name-wrapper > a {
        font-size: 1.8rem;
        display: inline-block;
        padding: 0.8rem 1rem;
        /* font-family: 'Lobster', cursive; */
        color: rgb(0, 188, 255);
        /* letter-spacing: 0.05rem; */
        font-weight: 500;
    }
    
    .nav-items > li > a {
        letter-spacing: 0.05rem;
        color: rgb(235, 235, 235);
        display: inline-block;
    }
    .search-form {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 5rem;
        /* border: 1px solid red; */
    }
    .search-form > input {
        padding: 0.7rem;
        letter-spacing: 0.06rem;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid transparent;
        flex: 2;
        /* margin-right: 0.3rem; */
    }
    .search-form > button {
        padding: 0.7rem;
        color: rgb(255, 255, 255);
        background: rgb(255, 67, 0);
        border: 1px solid rgb(255, 67, 0);
        letter-spacing: 0.06rem;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    @media screen and (min-width:1220px){
        .nav-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .nav-items {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            column-gap: 1.5rem;
        }
    }
</style>
<div class="nav-container">
    <nav class="nav-wrapper">
        <div class="brand-name-wrapper">
            <a href="{% url 'tweets:home' %}">
                <i class='fas fa-dove'style="font-size: 3rem; color: rgb(0, 188, 255)"></i>
                Tweet
                <!-- <span style="font-size: 1.6rem;">clone</span> -->
            </a>
        </div>
        <form class='search-form' action="{% url 'tweets:search' %}" method="GET">
            <input type="text" name="search" placeholder="Your search">
            <button type="submit">Search</button>
        </form>
        <ul class="nav-items">
            <li><a href="{% tweets:home %}">Home</a></li>
            <li><a href="">My tweets</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Login</a></li>
            <li><a href="{% url 'Users:register' %}">Register</a></li>
        </ul>
    </nav>
</div>
