<style>
    .nav-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .brand-name {
        font-size: 2rem;
        font-weight: bold;
        padding: 1.5rem 0;
        color: blue;
    }
    .nav-item > a {
        color: rgb(46, 46, 46);
        font-size: 1.1rem;
        letter-spacing: 0.06rem;
    }
    @media screen and (min-width: 700px){
        .nav-items {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            column-gap: 1.5rem;
        }
    }
</style>
<div class="nav-container">
    <div class="brand-wrapper">
        <a href="#" class="brand-name">TWEETERclone</a>
    </div>
    <nav class="nav-wrapper">
        <ul class="nav-items">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">My tweets</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>
            <li class="nav-item"><a href="#">About</a></li>
            <li class="nav-item"><a href="#">Login</a></li>
            <li class="nav-item"><a href="#">Register</a></li>
        </ul>
    </nav>
</div>