/* COLORS 60-30-10*/

::before,
::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul > li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: ubuntu;
}

/* Navigation */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.nav-container {
    position: relative;
    padding: 0.5rem 0;
    background: rgb(26, 0, 26);
}

.nav-wrapper {
    width: 90%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper >
.brand-name > a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-wrapper >
.brand-name > a > p {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(0, 139, 0);
}
.nav-wrapper >
.brand-name >
a > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 110px
}

.nav-wrapper >
.brand-name >
a > div > .span-p {
    color: rgb(0, 158, 0);
    padding: 0.1rem;
    font-weight: bold;
    font-size: 1.3rem !important;
    letter-spacing: initial;
}

.nav-wrapper >
.brand-name >
a > div > p {
    flex: 0 0 100%;
    font-size: 0.9rem;
    color: white;
    letter-spacing: 0.06rem;
}

.search-form-container {
    flex: 2;
    display: flex;
    justify-content: center;
}

#search-form {
    flex: 0 0 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-form > input {
    padding: 0.8rem;
    padding-left: 1rem;
    letter-spacing: 0.06rem;
    font-size: 1rem;
    border: none;
    flex: 2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

#search-form > input:focus {
    outline: none;
}

#search-form > button {
    padding: 0.8rem;
    padding-right: 1rem;
    font-size: 1rem;
    letter-spacing: 0.06rem;
    border: none;
    box-shadow: none;
    background: rgb(0, 158, 0);
    border: 1px solid rgb(0, 158, 0);
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.font-awesome-btns {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.font-awesome-btns >
.bars-btn,
.font-awesome-btns >
.times-btn {
    font-size: 1.5rem;
    color: white;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(0, 158, 0);
}

.font-awesome-btns >
.times-btn {
    padding: 0.8rem 0.94rem;
    display: none;
}

.nav-items {
    position: absolute;
    z-index: 1;
    top: 90px;
    right: 0;
    width: 100%;
    height: 0;
    display: grid;
    grid-auto-columns: 1fr;
    align-content: start;
    row-gap: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: height 0.1s linear;
}

.nav-items > li > a {
    color: white;
    letter-spacing: 0.06rem;
    display: block;
    padding: 1rem;
    padding-left: 2rem;
    background: rgb(17, 17, 17);
    text-transform: uppercase;
}
.show-nav-items {
    background: black;
    height: calc(100vh - 112px);
    opacity: 1;
}

.nav-items > li > a:hover {
    background: rgb(34, 34, 34);
}

.mobile-search-form {
    display: none;
}

@media  screen and (min-width: 700px) {
    #search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
    }
}

@media screen and (max-width: 630px) {
    .search-form-container {
        display: none;
    }

    .mobile-search-form{
        display: block;
    }

    #mobile-search {
        display: flex;
        align-items: center;
    }

    #mobile-search > input {
        border: 1px solid rgb(41, 41, 41);
        background: black;
        border-left: none;
        color: white;
        flex: 2;
        padding: 1rem;
        font-size: 1rem ;
        padding-left: 2rem;
        letter-spacing: 0.06rem;
    }

    #mobile-search > button {
        background: black;
        border: 1px solid rgb(41, 41, 41);
        border-right: none;
        border-left: none;
        color: white;
        padding: 0.9rem 2rem;
        font-size: 1.1rem;
    }

    #mobile-search > input:focus {
        outline: none;
    }
}

@media screen and (min-width: 1130px) {
    .nav-wrapper {
        width: 90%;
        margin:  0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-items {
        position: initial;
        z-index: initial;
        top: initial;
        right: initial;
        width: initial;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        align-content: center;
        column-gap: 1.5rem;
        padding-top: 0;
        overflow: auto;
        white-space: wrap;
        opacity: 1;
    }

    .nav-items > li > a {
        padding: 0;
        display: inline-block;
        background: none;
    }

    .font-awesome-btns {
        display: none
    }

    .nav-items > li > a:hover {
        background: initial;
        color: gray;
    }
}
